<!DOCTYPE html>
<html lang="en">

<head>
  <title>Angular Material - Starter App</title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
  <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css" />
  <link rel="stylesheet" href="assets/app.css" />
</head>

<body ng-app="starterApp" layout="row" ng-controller="UserController as ul">

  <md-sidenav class="site-sidenav md-sidenav-left md-whiteframe-z2" md-theme="iowa" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-whiteframe-z1">
      <h1>Iowa Hawkeyes</h1>
    </md-toolbar>

    <md-list style="min-height: 0; flex: 1; overflow: auto;">
      <md-list-item ng-repeat="it in ul.homePlayers">
        <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
          <img ng-src="{{it.avatar}}" class="avatar"></img>
          {{it.name}}
        </md-button>
      </md-list-item>
    </md-list>

  </md-sidenav>

  <div class='vertical-container' tabIndex="-1" role="main" class="md-whiteframe-z2">

    <md-content flex id="content">
      <img ng-src="{{ul.selected.avatar}}" class="avatar"></img>
      <h2>{{ul.selected.name}}</h2>
      <p>{{ul.selected.content}}</p>

      <md-button class="contact" md-no-ink ng-click="ul.showContactOptions($event)" aria-label="Contact User">
        <md-tooltip>Contact {{ ul.selected.name }}</md-tooltip>
        <md-icon md-svg-icon="share"></md-icon>
      </md-button>
    </md-content>

  </div>

  <md-sidenav class="site-sidenav md-sidenav-right md-whiteframe-z2" md-theme="ohiost" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">

    <md-toolbar class="md-whiteframe-z1">
      <h1>Ohio State Buckeyes</h1>
    </md-toolbar>

    <md-list style="min-height: 0; flex: 1; overflow: auto;">
      <md-list-item ng-repeat="it in ul.awayPlayers">
        <md-button ng-click="ul.selectUser(it)" ng-class="{'selected' : it === ul.selected }">
          <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
          <span class="md-list-item-text compact">{{it.name}}</span>
        </md-button>
      </md-list-item>
    </md-list>
  </md-sidenav>

  <script src="./bower_components/angular/angular.js"></script>
  <script src="./bower_components/angular-animate/angular-animate.js"></script>
  <script src="./bower_components/angular-aria/angular-aria.js"></script>
  <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

  <script src="./src/users/Users.js"></script>
  <script src="./src/users/UserController.js"></script>
  <script src="./src/users/UserService.js"></script>

  <script type="text/javascript">
    angular
      .module('starterApp', ['ngMaterial', 'users'])
      .config(function($mdThemingProvider, $mdIconProvider) {

        $mdIconProvider
          .defaultIconSet("./assets/svg/avatars.svg", 128)
          .icon("menu", "./assets/svg/menu.svg", 24)
          .icon("share", "./assets/svg/share.svg", 24)
          .icon("google_plus", "./assets/svg/google_plus.svg", 512)
          .icon("hangouts", "./assets/svg/hangouts.svg", 512)
          .icon("twitter", "./assets/svg/twitter.svg", 512)
          .icon("phone", "./assets/svg/phone.svg", 512);

        $mdThemingProvider.theme('default');

        $mdThemingProvider.theme('iowa')
          .primaryPalette('amber')
          .accentPalette('yellow');

        $mdThemingProvider.theme('ohiost')
          .primaryPalette('red', {
            default: 'A700'
          })
          .accentPalette('red');

      });
  </script>

</body>

</html>
